.calculatorContainer{
    width: 350px;
    border: 1px solid red;
    margin: 50px auto;
    font-family: sans-serif;
}

.display{
    background-color: #ececec;
    height: 70px;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    padding: 10px;
    font-size: 1.8rem;
    font-weight: bold;
}

.buttonsBox{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #dadada;
}

@media (max-width: 800px){

}